.Dating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Main {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.Header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
}

.Name {
    font-weight: bolder;
    position: relative;
}

.Age {
    margin-left: 50px;
}


.Age:after {
    content: "\2022";
    position: absolute;
    font-size: 19px;
    float: right;
    text-align: right;
}

.CollegeName {
    margin-left: 15px;
}


.CollegeName:after {
    content: "\2022";
    position: absolute;
    font-size: 19px;
    float: right;
    text-align: right;
}

.Matchbox {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.ViewProfile {
    text-decoration: none;
    color: blue;
    margin-right: 20%;
    margin-left: 5px;
}

.ViewProfile:visited {
    color: blue;
}

.ImageContainer {
    display: flex;
}

.Image {
    border-radius: 2px;
    margin: 2px;
}

.MainFooter {
    margin-top: 10px;
    letter-spacing: 2px;
}

.AboutSection {
    width: 63%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.SelfSummaryBox {
    width: 70%;
}

.SelfSummaryBoxHeader {
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px;
}

.SelfSummaryBoxContent {
    letter-spacing: 2px;
    margin: 10px;
    line-height: 30px;
}

.RightSection {
    width: 50%;
}

.AboutBox {
    padding: 10px;
    letter-spacing: 2px;
    line-height: 30px;
    width: 100%;
}

.AboutKey {
    font-weight: bold; 
}

.TagsContainer {
    width: 100%;
    padding: 10px;
}

.TagHeading {
    letter-spacing: 2px;
    font-weight: bold;
}

.Tags {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Tag {
    width: 75px;
    height: 50px;
    border-radius: 25%;
    background-color: #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 768px) {
    .MobileLayout {
        padding-bottom: 100px;
    }
    .Dating {
        overflow-x: hidden;
        position: relative;
        display: inline-block;
    }
    .MainMobile {
        width: 100vw;
        padding: 10px;
        /* padding-left: 50px; */
        line-height: 30px;
        letter-spacing: 2px;
        position: relative;
    }
    .ImageContainer {
        display: inline-block;
        width: 100vw;
    }
    .Image {
        width: 101.5vw;
    }
    .Name {
        font-weight: bold;
    }
    .Age {
        font-weight: bold;
        margin-left: 0;
    }
    .Age::after {
        content: "";
    }
    .CollegeName {
        margin-left: 0;
    }
    .CollegeName:after {
        content: "";
    }

    .Matchbox {
        position: absolute;
        top: 0;
        right: 5%;
    }

    .ViewProfile {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .AboutSection {
        display: block;
        margin-top: 10px;
    }

    .FullWidth { 
        width: 100%;
    }

}