.Form {
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #EEE;
    padding: 10px;
    box-sizing: border-box;
}

.FormName {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    
}

.Button {
    background-color: black;
    padding: 10px;
    width: 70%;
    font-size: 16px;
    margin-top: 10px;
}

.Button:disabled {
    background-color: grey;
}

@media (min-width: 768px) {
    .Form {
        width: 80%;
    }

    .FormName {
        font-size: 30px;
        
    }
}
