.Form {
    /* margin: 20px auto; */
    width: 100%;
    /* height:80%; */
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #EEE;
    padding: 10px;
    box-sizing: border-box;
}

.FormName {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    
}

@media (min-width: 768px) {
    .Form {
        width: 60%;
        
        /* overflow: hidden; */
        /* max-height: 80%; */
    }
}