.MessageBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    background-color:#d1d1d1;
}

.Header {
    width: 100%;
    padding: 11.5px;
    box-sizing: border-box;
    background-color:#d1d1d1;
    display: flex;
    align-items: center;
    height: 9%;
    padding: 20px;
    height: 12.7%;
    border-bottom: 1px solid #252b30;
}

.Status {
    margin-left: 20px;
    line-height: 25px;
}

.MyMessageBox{
    text-align: right;
    margin: 10px;
}
.OtherMessageBox{
    text-align: left;
    margin: 10px;
}
.MessagesBox {
    height: 80%;
    overflow: auto;
}

.MessageContent {
    flex: 1;
    text-align: left;
    word-break: break-all;
}

.MyMessage {
    display: inline-flex;
    background-color: rgb(62, 181, 228);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 25vw;
    color:white;
    margin-right: 3vw;
}

.OtherMessage {
    /* width: auto; */
    /* max-width: 25vw; */
    text-align: left;
    padding: 10px;
    margin-left: 3vw;
    background-color: #1da355;
    border-radius: 10px 10px 10px 10px;
    /* position: relative; */
    align-self: right;
    display: inline-block;
    justify-content: flex-start;
    max-width: 25vw;
    align-items: flex-start;
    color:white;
    /* min-width: auto; */
    /* align-self: start; */
}

.MessageTimestamp {
    font-size: 10px;
    color: rgb(54, 52, 52);
    margin-left: 10px;
    /* text-align: left; */
}

.SendContainer {
    width: 100%;
    background-color:#d1d1d1;
    display: flex;
    align-items: center;
    height: 12.7%;
}
.SendIconCont{
    width: 3.5%;
    margin-top: 1px;
    /* height: 50%; */
}
.SendIcon {
    margin-left: 5px;
    width: 100%;
    cursor: pointer;
}

.SendInput {
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 35px 35px 35px 35px;
    background-color: rgb(87, 87, 87);
    width: 90%;
    padding: 10px;
    color: white;

}
.MessagesBox::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #d1d1d1;
}

.MessagesBox::-webkit-scrollbar
{
	width: 12px;
	background-color: #d1d1d1;
}

.MessagesBox::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
@media screen and (max-width: 768px) {
    .MessagesBox::-webkit-scrollbar{
        display: none;
    }
    .MyMessage {
        max-width: 60vw;
    }

    .OtherMessage {
        max-width: 60vw;
    }
    .SendIconCont{
        width: 15%;
        margin-top: 2px;
        margin-right: 10px;
    }

    .MessagesBox {
        /* height: 50%; */
    }

    .MessageBox {
        margin-top: -5%;
    }


}
