.MessageBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    background-color:#d1d1d1;
}

.Header {
    width: 100%;
    padding: 11.5px;
    box-sizing: border-box;
    background-color:#d1d1d1;
    display: flex;
    align-items: center;
    height: 9%;
    padding: 20px;
    height: 12.7%;
    border-bottom: 1px solid #252b30;
}

.Status {
    margin-left: 20px;
    line-height: 25px;
}

.MessagesBox {
    height: 80%;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.SendContainer {
    width: 100%;
    background-color:#d1d1d1;
    display: flex;
    align-items: center;
    height: 12.7%;
}

.SendIconCont{
    width: 5%;

}
.SendIcon {
    margin-left: 5px;
    width: 100%;
    cursor: pointer;
}

.SendInput {
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 35px 35px 35px 35px;
    background-color: rgb(87, 87, 87);
    width: 90%;
    padding: 10px;
    color: white;

}
.MessagesBox::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #d1d1d1;
}

.MessagesBox::-webkit-scrollbar
{
	width: 12px;
	background-color: #d1d1d1;
}

.MessagesBox::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

@media screen and (max-width: 768px) {

    .MessagesBox::-webkit-scrollbar{
        display: none;
    }

    .MyMessage {
        max-width: 60vw;
    }

    .OtherMessage {
        max-width: 60vw;
    }
    
    .MessageBox {
        margin-top: -5%;
    }

    .SendContainer {
        width: 95%;
    }

    .SendIconCont {
        width: 10%;
        padding-top: 5px;
    }
    .SendIcon{
        width: 100%;
    }


}
