.MessageBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

.Header {
    width: 100%;
    padding: 11.5px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    height: 9%;
    padding: 20px;
    height: 12.7%;
}

.Status {
    margin-left: 20px;
    line-height: 25px;
}

.Message {
    text-align: right;
    margin: 10px;
}

.MessagesBox {
    height: 80%;
    overflow: auto;
}

.MessageContent {
    flex: 1;
    text-align: left;
    word-break: break-all;
}

.MyMessage {
    display: inline-flex;
    background-color: #ADF91D;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 20vw;
}

.OtherMessage {
    max-width: 20vw;
    text-align: left;
    padding: 10px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.MessageTimestamp {
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}

.SendContainer {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 12.7%;
}

.SendIcon {
    width: 5%;
    cursor: pointer;
}

.SendInput {
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 35px 35px 35px 35px;
    background-color: #ccc;
    width: 90%;
    padding: 10px;

}

@media screen and (max-width: 768px) {
    .MyMessage {
        max-width: 60vw;
    }

    .OtherMessage {
        max-width: 60vw;
    }

    .SendContainer {


    }

    .MessagesBox {
        height: 50%;
    }

    .MessageBox {
        margin-top: -5%;
    }


}
