/* This css is written in Mobile First way */

.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #9D354B;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.Active,
.Active:hover {
    color: #40A4C8;
}
.NavigationItem:hover {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;  
        border-bottom: 4px solid transparent;
        display: block;
    }

    .Active,
    .Active:hover {
        background-color: #9D354B;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }

    .NavigationItem:hover {
        color: #40A4C8;
    }
    
}