.ContentContainer {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-left: auto;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    box-sizing: border-box;
}