.ContentContainer {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width:768px){
   .ContentContainer {
       margin: 0;
       width: 100vw;
       box-shadow: none;
       padding-bottom: 20px;
       margin: 0;
       flex-direction: column;
   }
}