.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 5vh;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    max-height: 90vh;
    overflow: auto;
}

.CrossIcon {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .Modal {
        width: 90%;
        left: 5%;
    }
}