.SignupForm {
    width: 80%;
    border-radius: 50px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    /* padding: 35px; */
}

.SignupFormName {
    margin-bottom: 10px;
    margin-top: 0px;
    padding:0px;
}
.Header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}