.Container {
    position: relative;
    color: white;
}

.Tag {
    width: 100px;
    border-radius: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.TagName {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}