.Container {
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
}

.Tag {
    width: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.TagName {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}