.Container {
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
}

.TagContainer {
    background-color: #DBF6F6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: flex;    
    align-items: center;
}

.CrossIcon {
    margin-left: 5px;
}

.Tag {
    width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.TagName {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Pointer {
    cursor: pointer;
}