.AddNewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.AddNewIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.Modal {
    width: 60%; 
}


@media (max-width: 768px) {
    .Modal {
        width: 90% !important;
        left: 5%;
    }
}