.SignupFormName{
    margin-bottom: 20px;
}

.Header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

@media (max-width : 768px){
    .Header {
        font-size: 30px;
        margin-top: 30px;
    }

    .SignupForm{
        margin-top: 50px;
    }
    
}