.tabListItem {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.7rem 0.75rem;
  }
  
  .tabListActive {
    background-color: #2D4571;
    /* border-width: 1px 1px 0 1px; */
  }