.ProfileImageContainer {
    position: relative;
    display: inline-block;
}

.ProfilePhoto {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:1px;
    border:1px solid #2D4571;
    background-color:#9D354B;
}