.DropDownButton {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;

}

.DropDownButton:hover::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #40A4C8;
}

.DropdownContentScroll {
    height: 50vh !important;
}

.DropDownContent {
    display: inline-block;
    position: absolute;
    height: 0px;
    background-color: #622870;
    top: 100%;
    width: 380px;
    transition: 0.25s all;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Notify {
    background-color: #40A4C8;
}

.notifIcon{
    height:30px;
    width:30px;
    margin-top:5px;
}

@media (max-width: 768px) {
    .DropDownButton {
        z-index: 100;
        text-transform: uppercase;
        font-weight: bolder;
        padding-top: 5px;
        letter-spacing: 2px;
    }

    .DropDownContent {
        width: 95vw;
    }

    .DropDownContent {
        z-index: 100;
    }
}