.DropDownButton {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;

}

.DropDownButton:hover::after {
    content: "a ";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #40A4C8;
}

.DropdownContentScroll {
    height: 50vh !important;
}

.DropDownContent {
    display: inline-block;
    position: absolute;
    height: 0px;
    background-color: #622870;
    top: 100%;
    width: 26%;
    transition: 0.25s all;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Notify {
    background-color: #40A4C8;
}


@media (max-width: 768px) {
    .Dropdown {
        display: none;
    }
}