.CommunityCard {
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: inline-flex; 
    background-size: cover;
    background-position: -200px 0px;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
    overflow: hidden;
}

.CommunityCard:hover {
    transform: scale(1.2);
}
