.CommunityCard {
    width: 15rem;
    height: 16rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: inline-flex; 
    background-size: cover;
    background-position: -200px 0px;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    overflow: hidden;
}

.CommunityCard:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 576px) {
    .CommunityCard {
        width: 15rem;
        height: 16rem;
    }
}
