.Photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 50px; */
}
.NewPhotoContainer{
    height:100%;
    width:25%;
    margin:10px;
}