.AddNewContainer {
    height:300px;
    width:25%;
    margin: 10px;
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.AddNewContainer:hover{
    background-color: lightgray;
}

.AddNewIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
@media (max-width:768px){
    .AddNewContainer{
        height: 120px;
    }
}