.Auth {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.signupLink{
    display : none;
    
}
.signupLink:active{
    background-color: rgba(255,255,255,0.8);

}
@media (max-width : 540px){
    .signupLink{
        box-sizing: border-box;
        height : 80px;
        width : 100vw;
        background-color: rgba(255,255,255,0.3);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        display: inline-block;
        box-sizing: border-box;
        color: black;
        font-size: 40px;
        margin-bottom: 0;
        text-align: center;
        vertical-align: center;
        padding-top: 12px;
        margin-top: 120px;
    }
}