.InfoContainer {
    align-self: center;
    height : 25px;
    width : 90%;
    /* padding-left: 10px; */
    /* padding-right: 100px; */
    margin-top: 30px;
}

.InfoImage {
    margin-left: 30px;
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.InfoContent {
    line-height: 25px;
    color: grey;
    margin-right: 30px;
    float: right;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
/* 
.InfoContent:last-child:hover {
    overflow: visible;
} */