.Button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
}
.Button:hover{
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.Button:disabled {
    cursor: not-allowed;
    color: #ccc;
    background-color: #FFFFFF;
}

@media all and (max-width: 768px){
    .Button {
        display: block;
        margin: 0.4em auto;
    }
}