.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.Label {
    display: block;
    margin-bottom: 8px;
    text-align: left !important;
    text-decoration: underline;
    color: black;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    outline: 2px solid red;
    background-color: salmon;
}

.TooltipButton {
	position: absolute;
	right: 20px;
    top: 25px;
    width: 20px;
} 

.TooltipButton:hover {
	overflow: unset;
}

.TooltipButton:hover + .TooltipContent {
	height: max-content;
    opacity: 1;
    z-index: 2;
    margin-top: 10px;
} 

.TooltipContent {
	height: 0px;
	opacity: 0;
	transition: 0.5s;
	background-color: #453E3E;
	position: absolute;
	width: 95%;
    padding: 2%;
    color: #fff;
    font-size: 14px;

}