.Logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
}

@media (max-width: 768px) {
    header>.Logo {
        display: none;
    }
}