.Logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
}

@media (max-width: 768px) {
    header>.Logo {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .Logo {
        font-size: 24px;
    }
}