.Homepage {
    overflow-x: hidden;
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.PeopleTitle {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}



.CommunityTitle {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.CommunityContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 600px;
    align-content: center;
}




.AboutContainer {
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    background-color: rgb(56, 56, 54);
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    color: azure;
}


.PeopleHolder {
    align-items: center;
}

.LoggedIn {
    font-weight: bold;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 40px;
}

@media screen and (max-width: 768px) {
    .CardContainer {
        flex-direction: column;
    }

    .CommunityTitle {
        margin-top: 50px;
    }

    .CommunityContainer {
        flex-direction: column;
        width: 100%;
    }

    .AboutContainer {
        font-size: 18px;
        width: 95%;
    }
}
