.Homepage {
    overflow-x: hidden;
}

.CardContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.PeopleTitle {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}



.CommunityTitle {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.CommunityContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 600px;
}


.AboutContainer {
    width: 100%;
    padding: 10px;
    background-color: #FFFA00;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}