.LoginFormName{
    margin-bottom: 20px;
}

.Header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.ForgotPasswordForm {
    width: 100%;
    margin-top: 30px;
}

.ForgotPasswordHeader {
    color: black;
}

@media screen and (max-width: 768px) {
    .Header {
        font-size: 30px;
        margin-top: 30px;
    }

    .LoginForm {
        margin-top: 50px;  
    }
}
