.Rcontainer{
    width:65%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}


.SummaryContent{
    margin-left: 10px;
    margin-bottom: 20px;
    padding-right: 50px;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px;

}

.ProfileContainer {
    width: 35%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.ProfileImage {
    margin-top: 10px;
    height: 300px; 
    width: 300px;  
}

.InterestContainer {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.BioContainer {
    width: 90%;
    margin-left: 10px; 
}

.PhotosContainer {
    width: 90%;

    margin-left: 10px;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:768px){
   .ProfileContainer{
       width : 100%;
       margin:0;
   }
   .Rcontainer{
       width : 100%;
       margin:0;
   }
   .BioContainer{
       width : 100%;
       margin:0;
   }
   .InterestContainer{
       width : 100%;
       margin:0;
   }
   .PhotosContainer{
       width : 100%;
       margin:0;
   }

}