.Rcontainer{
    width:65%;
    height:100%;
    display: flex;
    flex-direction: column;
}


.SummaryContent{
    margin-left: 10px;
    margin-bottom: 20px;
    padding-right: 50px;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px;

}

@media (max-width:768px){
   
    .container{
        flex-direction: column;
        width: 100%;
        margin:0;
        padding:0;
        box-sizing: border-box;

    }
    .Lcontainer{
        width:100%;
        height:100vh;
        margin:0;
        box-sizing: border-box;

    }
    .profileImage{
        height:50%;
        width:80%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;

    }
    .Rcontainer{
        width:100%;
        margin:0;
        margin-top: 10px;
        box-sizing: border-box;
        flex-direction: column;

    }
    .RcontainerBottom{
        width:100%;
    }
    .RcontainerTop{
        width: 100%;
    }
    .Rcontainerpics{
        width: 100%;
    }
}