.Rcontainer{
    width:65%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}


.SummaryContent{
    margin-left: 10px;
    margin-bottom: 20px;
    padding-right: 50px;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px;

}

.ProfilePhoto {
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfileContainer {
    width: 20%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

.InterestContainer {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.BioContainer {
    width: 90%;
    margin-left: 10px; 
}

.PhotosContainer {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}


.LikeButton {
    background-color: rgb(250, 133, 117);
    width: 100%;
    height: 50px;
    border-radius: 35px;
}


.ProfileButtonsContainer {
    margin-top: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (max-width:768px){
   .ProfileContainer{
       width : 100%;
       margin:0;
   }
   .Rcontainer{
       width : 100%;
       margin:0;
   }
   .BioContainer{
       width : 100%;
       margin:0;
   }
   .InterestContainer{
       width : 100%;
       margin:0;
   }
   .PhotosContainer{
       width : 100%;
       margin:0;
   }

   .ProfileImage {
       height: 300px;
       width: 300px;
   }


}
