body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

*::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #252b30;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #252b30;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

@media screen and (max-width: 768) {
}

