.Card {
    width: 49.59vw;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
