.Card{
    
    width: 50%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;

}

@media screen and (max-width: 576px) {
    .Card {
        height: auto;
        min-height: 50vh;
        display: flex;
        width: 100%;
    }
}

