.Card{
    
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    flex: 0 1 100%;
    /* background-color: #9D354B; */
}
.fcard{
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    flex: 0 1 100%;
    /* background-color: #9D354B; */
}


@media screen and (min-width: 40em) {
    .Card{
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    flex: 0 1 50%
    }
    .fcard{
        height: 100vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: relative;
        flex: 0 1 50%;
        /* background-color: #9D354B; */
    }
}
