.Contacts {
    margin-top: 5px;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.DropDownButton {
    display: none;
}

@media screen and (max-width: 768px) {
    .Contacts {
        height: 0; 
        transition: height 1s;
    }
    
    .Expand {
        border-bottom: 1px solid #ccc;
        height: 68vh
    }

    .DropDownButton {
        display: inline;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 50px;
        z-index: 2;
    }
}