.CenterContainer {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: auto;   
}

@media (max-width:768px){
   .CenterContainer {
       display: inline-block;
       width: 100vw;
   }
}