.Inbox {
    height: 90vh;
    width: 90vw;
    flex-direction: row;
    margin-bottom: 50px;
}

.ContactsContainer {
    width: 35%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

.ProfileHeader {
    padding: 10px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
}


.MessageBoxContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EmptyBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 30px;
}

.ProfileName {
    font-weight: bold;
}

.EmptyBoxMessage {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.ExtraEmptyBoxMessage {
    display: none;
}

@media screen and (max-width: 768px) {

    .Inbox {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: -10px;
        height: 90vh;
    }

    .ContactsContainer {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .ProfileHeader {
        display: none;
    }

    .MessageBoxContainer {
        width: 100vw;
        padding-top: 0;
        height: 70vh;
    }

    .SearchContainer {
        width: 85%;
        height: 50%;
    }

    .ExtraEmptyBoxMessage { 
        display: block;
        text-align: center;
    }

    .Inbox {
        padding: 0;
        margin: 0;
    }

    .ProfileName {
        order: 1;
        margin-bottom: 60px;
    }

    .ProfileImage {
        order: 2;
    }

    .EmptyBoxMessage {
        order: 3;
    }



}