.Container {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.Inbox {
    height: 87vh;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.ContactsContainer {
    width: 35%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

.ContactHeader {
    padding: 10px;
    background-color: white;
    width: 100%;
}

.SearchContainer {
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    width: 95%;
    height: 30px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
}

.SearchIcon {
    width: 10%;
}



.SearchBar {
    margin-left: 10px;
    outline: none;
    border: none;
}

.Contacts {
    margin-top: 5px;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.Contact {
    padding: 10px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.Info1 {
    display: flex;
    flex-direction: column;
}

.MessageBoxContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EmptyBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 30px;
}

.ProfileName {
    font-weight: bold;
}

.EmptyBoxMessage {
    font-size: 20px;
    margin-top: 20px;
}
