.Inbox {
    height: 87vh;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.ContactsContainer {
    width: 35%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

.ProfileHeader {
    padding: 10px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
}

.SearchContainer {
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    width: 95%;
    height: 30px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
}

.SearchIcon {
    width: 10%;
}

.SearchBar {
    margin-left: 10px;
    outline: none;
    border: none;
}

.MessageBoxContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EmptyBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 30px;
}

.ProfileName {
    font-weight: bold;
}

.EmptyBoxMessage {
    font-size: 20px;
    margin-top: 20px;
}

.ExtraEmptyBoxMessage {
    display: none;
}

@media screen and (max-width: 768px) {

    .Container {
        overflow: hidden;
    }

    .Inbox {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: -10px;
        height: 92vh;
    }

    .ContactsContainer {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .DropDownButton {
        display: inline-block;
        font-size: 50px;
    }

    .ProfileHeader {
        display: none;
    }

    .MessageBoxContainer {
        width: 100vw;
        height: 83vh;
    }

    .SearchContainer {
        width: 85%;
    }

    .ExtraEmptyBoxMessage {
        display: block;
        text-align: center;
    }


}