.tabs{
  width: 90%;
}
.tabList {
    font-weight: bold;
    font-size: 20px;
    width:100%;
    margin-top: 0;
    /* padding: 10px; */
    background-color: #9D354B;
    color: white;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    cursor: pointer;
  }
  .tabContent{
    height: 100%;
    transition: 1s;
    left: 0;
  }
  @media (max-width:768px){
    .tabs{
      width: 100%;
    }
  }